<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="browser-ie7 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="browser-ie8 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="browser-ie9 lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="browser-modern"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{manifest.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="theme-color" content="{{manifest.theme_color}}">
        <meta name="og:site_name" content="{{manifest.title}}">
        <meta name="og:title" content="{{manifest.title}}">
        <meta name="og:description" content="{{manifest.description}}">
        <meta name="og:image" content="http://dearme.co/assets/images/dearme.png">

        <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
        <link rel="manifest" href="/manifest.json">

        <style>
        html, body {
            padding: 0;
            margin: 0;
            cursor: default;
        }
        </style>
    </head>
    <body>
        <div id="app"></div>
        <script src="/dist/client/bundle.js"></script>
    </body>
</html>
